body {
  background-color: #dfd7d7ea; }

ul li {
  margin: 15px; }

.code {
  width: 50%;
  display: flex;
  color: #02331ba1; }

.copyright {
  text-align: center;
  background-color: #02331ba1;
  padding: 2rem; }
