$primary-color: #dfd7d7ea;
$secondary-color:#02331ba1;
body{
  background-color:$primary-color;
}
ul  li{

  margin: 15px;
}

.code{
  width:50%;
  display: flex;
  color: $secondary-color;
}
.copyright{
  text-align: center;
  background-color: $secondary-color;
  padding:2rem;

}